.test-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;

  .test-heading {
    font-size: 32px;
  }

  .form-container {
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
  }

  .error {
    border-color: #ff4444;
    animation: shake 0.3s ease-in-out;
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-3px);
    }
    40% {
      transform: translateX(3px);
    }
    60% {
      transform: translateX(-3px);
    }
    80% {
      transform: translateX(3px);
    }
  }
}
