.header-container {
  min-width: 100%;
  height: 50px;
  display: flex;
  padding: 12px;
  box-sizing: border-box;
  justify-content: space-between;

  span {
    text-align: start;
    font-size: 12px;
  }

  &-logo {
    width: 30px;
    height: 30px;
  }
}
