#root {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f6f6f7;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #0b1f15, #1a2a1f, #1a0b2a);
  color: #2deba9;
}
