:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 120px;
  height: 40px;
  background-color: #006b47;
  border: 2px solid #367f67;
  border-radius: 6px;
  margin-top: 16px;
  font-weight: 700;
  color: #c2ffeb;
}

input {
  width: 70%;
  height: 30px;
  background-color: #006b47;
  border: 2px solid #367f67;
  border-radius: 8px;
  padding: 6px;
  color: #c2ffeb;
}

input::placeholder {
  color: #c2ffeb54;
}

@media screen and (max-width: 768px) {
  input[type='text'],
  input[type='email'],
  input[type='tel'],
  input[type='number'],
  input[type='password'],
  textarea {
    font-size: 16px !important;
  }
}
