.case-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 16px;

  .case-heading {
    margin: 0;
    margin-bottom: 6px;
    align-self: flex-start;
  }

  .case-info {
    display: flex;
    gap: 16px;

    .case-img {
      width: 156px;
      border-radius: 4px;
    }

    .case-text {
      text-wrap: wrap;
      word-wrap: break-word;
      word-break: break-word;
      text-align: start;
      font-size: 20px;
    }
  }

  .case-text2 {
    margin-top: 8px;
    text-align: start;
  }

  .case-button {
    align-self: flex-end;
  }
}
